output/

output/production
output/artifacts

workspace/

workspace/assets/
workspace/config/
workspace/libraries/

workspace/crash-reports/
workspace/logs/

workspace/screenshots
workspace/resourcepacks
workspace/shaderpacks

workspace/saves

workspace/Tenacity

*.xml
*.iml

./idea